
.heading{
    color:white !important;
    font-size: 4rem;
    letter-spacing: 2px;
}
.button {
   background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%) !important;
}
.hero__subtitle img{
    width:2.3rem;
    height: 2.3rem;  
}
.hero__content h1{

   font: size 3.2em;
   font-weight:600;
   margin-top: 1rem;
   margin-bottom: 2rem;
   color: var(--heading-color);
   
}

.hero__content h1 .highlight{
   color: var(--secondary-color)
}

.hero__content p{
   font-size: 1.1rem;
   color: var(--text-color);
   line-height: 2rem;
}


.hero__img-box img, .hero__img-box video{
   height: 350px;
   width: 400px;
   border-radius: 20px;
   border: 1px solid var(--secondary--color);
   object-fit: cover;
}

.hero__img-box{
   padding-top: 2rem;
}

.hero__content{
   padding-top: 3.5rem;
}

.services__subtitle{
   font-size: 2.2 rem;
   font-weight: 500;
   color: #ee6e6e;
   font-family: var(--s)
}
.services__title{
   font-size: 2.5rem;
   font-weight: 500;
}

.featured__tour-title{
   font-size: 2.3rem;
   font-weight: 500;
}
.experience__content h2{
   font-size: 2.5rem;
   margin-top: 1rem;
   font-weight: 500;
}
.experience__content p{
   font-size: 1rem;
   color: var(--text-color);
   margin-top: 1rem;
}
.counter__wrapper{
   margin-top: 2.5 rem;
}
.counter__box span{
   width:70px;
   height: 70px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--secondary-color);
   color: #fff;
   font-size: 1.6rem;
   font-weight: 600;
   border-radius:10px 5px 10px;
}
.counter__box h6{
   font-size: 1.1rem;
   margin-top: 0.7rem;
   color: var(--text-color);
}

.experience__img img{
   width: 90%;
}

.masonry__img{
   transition: .3s;
}

.masonry__img:hover{
   transform: scale(1.1);
}

.testimonial__title{
   font-size: 2.3rem;
   margin-top: 1rem;
}

.homeBackground{
 background: linear-gradient(138deg, rgb(32, 201, 255) 36.7%, rgb(0, 8, 187) 84.4%, rgb(255, 255, 255) 119.7%);

}


#video-container {
   position: relative;
   height: 100vh;
   overflow: hidden;
 }

 /* Style for the video element */
 .video {
   width: 100%;
   height: auto;
   object-fit: cover;
   filter: blur(100); /* Initial blur value is 0 */
   transition: filter 1s ease-in-out; /* Transition effect for the blur property */
 }

 /* Style for the text overlay */
 .text-overlay {
   position: absolute;
   top: 50%;
   left: 80%;
   transform: translate(-50%, -50%);
   color: white;
   text-align:inherit;
   font-size: 20px;
   white-space: nowrap;
 }

 .text-overlay h1 {
   font-size: 40px;
 }

 .text-overlay ul {
   list-style-type: disc; /* or use 'circle' or 'square' for different bullet types */
 }

 .text-overlay ul li {
   margin-top: 30px;
   margin-bottom: 30px; /* Add space below each bullet point */
 }

 /*  */
 
 .btn {
   background-color: rgba(52, 152, 219, 0.5); /* Adjust the RGB values and opacity as needed */
   color: rgb(0, 0, 0);
   padding: 10px 20px; /* Adjust padding as needed */
   border: none;
   border-radius: 5px;
   text-decoration: none;
   display: inline-block;
   transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
   left: 50%;
 }
 
 .btn:hover {
   background-color: rgba(52, 152, 219, 0.8); /* Adjust the hover state transparency */
 }
 
/* Style for the button */
.btn.btn-outline-light:hover {
   background-color: black;
   color: white;
 }
 
 /* Style for the link inside the button */
 .btn.btn-outline-light:hover a {
   color: white;
   text-decoration: none;
 }

 .testimonial__title{
   margin-top: 5%;
   font-family: 'Open Sans, sans-serif'
 }