/* Newsletter.css */

.newsletter {
    margin-top: 3rem;
  }
  
  .newsletter__img img {
    padding-top: 8%;
    padding-left: 10%;
  }
  
  .newsletter__content {
    padding: 50px 0;
  }
  
  .newsletter__content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .newsletter__content p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .newsletter__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
  }
  
  .newsletter__email-input {
    border: 2px solid black;
    font-size: 1rem;
    color: #333;
    flex-grow: 1;
    padding: 0.5rem;
    margin-right: 1rem;
  }
  
  .newsletter__email-input:focus {
    outline: none;
  }
  
  .newsletter__btn {
    padding: 0.5rem 1.5rem;
    color: #000000;
    font-size: 1.3rem;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .newsletter__btn:hover {
    background-color: #333;
  }
  